body {
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
}

.shippingHeader { 
  height: 36px; 
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#shippingText {
  color:WHITE;
  font-size:10px;
  font-weight: bold;
}

.mainHeader {
  padding-top: 15px;
  display:flex;
  cursor: default;
  width: 100%;
  justify-content: center; /* align horizontal */

}

#mainHeaderTabsBox {
  position: relative;
  right: 34%;
  justify-content: start;
  padding-top: 5px;
  display: flex;
  align-items: center; /* align vertical */
}

#mainHeaderTabs {
  padding-right: 15px;
  cursor: pointer;
}
#mainHeaderTabs:hover{
  color: #f67599;
  cursor: pointer;
}

#headerLogoBox {
  position: relative;
  cursor: pointer;
}

#headerLogo {

}

.mainHeaderActions {
  margin-right: 3rem;
  position: relative;
  left: 34%;
  display: flex;
  align-items: center; /* align vertical */
}

.magGlass {
  cursor: pointer;
  height: 20px;
  margin-right: 15px;
  width: 20px;
  background-size: 20px;
  background-image: url('./images/icons/magGlass.png');
}
.magGlass:hover {
  background-image: url('./images/icons/magGlassPink.png');
}

.user {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 15px;
  background-size: 20px;
  background-image: url('./images/icons/user.png');
}
.user:hover {
  background-image: url('./images/icons/userPink.png');
}
.basket {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 15px;
  background-size: 20px;
  background-image: url('./images/icons/basket.png');
}
.basket:hover {
  background-image: url('./images/icons/basketPink.png');
}

#spacer {
  padding-left: 20px;
}

.pageTitle {
  /* display: flex;
  justify-content: center; */
  padding-top: 60px;
}

#mainTitle {
  font-size: 5rem;
  /* font-size: 6.2rem; */
  margin-bottom: 1rem;
  justify-content: center;
}
#mainTitleSlogan {
  font-size: 1.8rem;
  /* font-size: 2.2rem; */
  margin-bottom: 1rem;
  justify-content: center;
}
#mainTitleLinks {
  font-size: 0.9rem;
  /* font-size: 1.2rem; */
  margin-bottom: 1rem;
  justify-content: center;
}

#mainTitleLinkRight {
  cursor: pointer;
}
#mainTitleLinkLeft {
  cursor: pointer;
}
#mainTitleLinkRight:hover {
  color: #f67599;
}
#mainTitleLinkLeft:hover {
  color: #f67599;
}

.titleContentImages {
  display: flex;
  padding-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  /* width: 100px;
  padding: 10px;
  justify-content: center; */
}
#titleContentImagePair {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}

.collectionsTitleBox span {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid grey;
  border-bottom-width: thin;
  font-size: 2.3rem;
}

.collectionsOuterBox {
  padding-left: 5rem;
}

.collectionsBox {
  display: flex;
  flex-direction: row;
}

.collectionsTitle {
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  transform: rotate(-90deg);
  border-bottom: 1px solid grey;
}

.collectionsChoiceBox p {
  margin-left: 5rem;
  padding-right: 2rem;
  padding-left: 5rem;
  border-bottom: grey solid 1px;
  padding-bottom: 3rem;
  padding-top: 3rem;

}
